html,
body {
  height: 100%;
  
}

a{
  text-decoration: none;
  color: rgb(116, 116, 116);
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

input {
  margin-top: 10px;

}

.form-signin {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-primary {
  background-color: #fac09c;
  border: none;
}

.fw-normal{
  margin-bottom: 20px;
}
